#flot-placeholder-msft,
#flot-placeholder-dis {
    margin: 35px auto;
    width: 700px;
    height: 300px;
}

h1 {
    text-align: center;
}

td {
    margin: 0 auto;
}

#contentTr-msft td,
#contentTr-dis td {
    border-top: 0px;
}